h1 {
	font-family:"Comic Sans MS", cursive, sans-serif;
	padding: 20px;
	font-size: 40px;
	border-bottom: solid #800000;
}

h2 {
	font-family:Tahoma, Geneva, sans-serif;
	padding: 20px;
	font-size: 30px;
}


p {
	font-family:Tahoma, Geneva, sans-serif;
	padding-left: 20px;
	padding-top: 0px;
	font-size: 15px;

}


img {
	padding:40px;
	padding-left:0px;
	width:300px;
}

#container {
	margin:3%;
}